---
layout: layout
---

<section class="card about slide-in-right">
  <%- partial('_partial/bio', null, {cache: true}) %>
</section>

<section class="card slide-in-right">
  <div class="loader" id="loader">
    <svg viewBox="0 0 50 50">
    <circle class="ring" cx="25" cy="25" r="20"></circle>
    <circle class="ball" cx="25" cy="5" r="3.5"></circle>
    </svg>
  </div>

  <div class="comment" id="utteranc"></div>
  <noscript>为正常使用评论功能请激活 JavaScript</noscript>
</section>
