---
layout: layout
---

<ul class="list-unstyled animate-list" uk-grid
   uk-scrollspy="target: > li; cls: uk-animation-slide-top-small; delay: 100">
   <li class="animate-list__item uk-card uk-width-1-2@m">
      <a class="card friend-link " href="https://www.yuque.com/levy/blog" target="_blank" rel="noopener">
         <img class="friend-avatar"
            src="https://cdn.nlark.com/yuque/0/2019/png/160590/1559530159841-avatar/3c578c62-7895-4c3f-9b63-1d5fca57b11b.png?x-oss-process=image/resize,m_fill,w_192,h_192/format,png"
            alt="公瑾">
         <span>公瑾的博客</span>
      </a>
   </li>
   <li class="animate-list__item uk-card uk-width-1-2@m">
      <a class="card friend-link" href="https://evila.me/" target="_blank" rel="noopener">
         <img class="friend-avatar" src="https://avatars2.githubusercontent.com/u/19513289?s=460&v=4" alt="evillt">
         <span>evillt 的博客</span>
      </a>
   </li>
</ul>
