<div class="avatar-name">
	<div class="avatar <% if(config.avatar_style && config.avatar_style.radius) {%>radius<% } %>">
		<img src="<%= config['root'] %><%= config['sidebar-avatar'] %>" />
	</div>
    <div class="name"><i><%= config.author %></i></div>
</div>
<div class="index-about">
	<i> <%= config.subtitle %> </i>
</div>
