<ul class="list-inline text-center">
    <% if (config.zhihu_username) { %>
    <li>
        <a target="_blank" href="https://www.zhihu.com/people/<%= config.zhihu_username %>">
            <span class="fa-stack fa-lg">
                    <i class="iconfont icon-zhihu"></i>
            </span>
        </a>
    </li>
    <% } %>
    <% if (config.github_username) { %>
    <li>
        <a target="_blank"  href="https://github.com/<%= config.github_username %>">
            <span class="fa-stack fa-lg">
                <i class="iconfont icon-github"></i>
            </span>
        </a>
    </li>
    <% } %>
</ul>
<% if(config.friends) { %>
    <p>
        <span>/</span>
        <% config.friends.forEach(function(friend){ %>
        <span><a href="<%= friend.href %>"><%= friend.title %></a></span>
        <span>/</span>
        <% }); %>
    </p>
<% }%>
